snippet test123
	${0:`substitute('lua script', '.', '\u\0', 'g')`}
	${1:`FileName()`}
  ${2:`testing()`}
	${VISUAL}$1
	${TM_DIRECTORY}
	${TM_FILENAME}
	${TM_FILENAME_BASE}
	${TM_CURRENT_WORD}
	${TM_CURRENT_LINE}
	${TM_FILEPATH}
	${TM_LINE_INDEX}
	${TM_LINE_NUMBER}
	${TM_SELECTED_FILES}
	${TM_SOFT_TABS}
	${TM_TAB_SIZE}
