snippet /constfile
	import styles from './${TM_FILENAME_BASE}.module.css'

	const ${1:$FILE_PASCAL} = () => {
	return (
			<div className={styles.container}>
				${1:$VISUAL}$0
			</div>
			)
	}

	export default ${1:$VISUAL}

snippet /styles
  <${1:div} className={styles.$2}>$0</${1:div}>

snippet /styles
  <${1:div} className={styles.$2} />
